@charset "utf-8";

/* #region common */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f0f0f0;
}
h2 {
    font-size: 36px;
    font-weight: 500;
}
h3 {
    font-size: 16px;
    font-weight: 500;
}
body {
    overflow: hidden;
}
/* #endregion common */

/* #region login */
.container > .content {
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.container > .content .logo h1 img {
    width: 200px;
}
.container > .content .login {
    width: 440px;
    height: 220px;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.container > .content .login input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 14px;
}
.container > .content .login input::placeholder {
    color: #ccc;
}
.container > .content .login input[type=button] {
    border: none;
    color: #fff;
    background-color: #00539C;
    margin-bottom: 5px;
}
.container > .content .login a {
    width: 100%;
    font-size: 12px;
    color: #00539C;
}
/* #endregion login */

/* #region header */
#header {
    width: 240px;
    height: 100vh;
    float: left;
    background-color: #9cc3d5;
}
#header .header_inner {
    margin: 0 20px;
    height: 100%;
}
#header .logo {
    margin-top: 10px;
}
#header h1 a {
    display: block;
    width: 160px;
    line-height: 60px;
}
#header h1 a img {
    width: inherit;
}
#header h1 a img {
    width: inherit;
}
/* #endregion header */

/* #region nav */
#desktop,
#mobile {
    width: 100%;
    margin-top: 80px;
    font-size: 18px;
    font-weight: 500;
}
#mobile {
    display: none;
}
#desktop ul li,
#mobile ul li {
    position: relative;
}
#desktop ul li::after {
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: #333;
}
#desktop ul li a,
#mobile ul li a {
    display: block;
    line-height: 60px;
}
#desktop ul li:hover a,
#desktop ul li.active a,
#desktop ul li:hover i,
#desktop ul li.active i,
#mobile ul li:hover a,
#mobile ul li.active a,
#mobile ul li:hover i,
#mobile ul li.active i {
    color: #00539c;
}
#desktop ul li a i,
#mobile ul li a i {
    width: 23px;
    margin-right: 7px;
    text-align: center;
}
#sub_nav {
    background-color: #f8f8f8;
}
#sub_nav ul li {
    display: inline-block;
}
#sub_nav ul li a {
    display: block;
    padding: 0 20px;
}
#sub_nav ul li a {
    display: block;
    line-height: 50px;
    padding: 0 20px;
}
#sub_nav ul li.active a,
#sub_nav ul li:hover a {
    color: #00539c;
}
/* #endregion nav */

/* #region section_main */
#section {
    width: calc(100% - 240px);
    height: 100vh;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}
#section .section_inner {
    margin: 20px;
    box-sizing: border-box;
}
#section > .wrapper {
    position: relative;
    padding: 0 20px;
    width: 100%;
    height: 100px;
    line-height: 70px;
    background-color: #fff;
    box-sizing: border-box;
}
#section > .wrapper::after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 25px;
    width: calc(100% - 20px);
    height: 2px;
    background-color: #ccc;
}
#section > .wrapper .title {
    float: left;
}
#section > .wrapper .side_menu {
    float: right;
}
#section > .wrapper .side_menu > ul > li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-left: 5px;
}
#section > .wrapper .side_menu > ul > li .dropbox {
    position: absolute;
    opacity: 0;
    top: 40px;
    right: 0;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 100;
    line-height: 2.5;
    border-radius: 5px;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s, opacity 0.2s;
}
#section > .wrapper .side_menu .dropbox ul {
    max-height: 270px;
    overflow-y: auto;
}
#section > .wrapper .side_menu .dropbox ul li:hover,
#section > .wrapper .side_menu > ul > li > .dropbox.alarm ul li:hover {
    background-color: rgba(0,83,156,0.2);
}
#section > .wrapper .side_menu > ul > li .dropbox.login ul li:first-child.active,
#section > .wrapper .side_menu > ul > li .dropbox.login ul li:first-child:hover {
    background-color: transparent;
}
#section > .wrapper .side_menu > ul > li .dropbox.alarm > span {
    display: block;
    font-size: 18px;
    padding: 0 20px 10px 20px;
    border-bottom: 1px solid #ccc;
}
#section > .wrapper .side_menu > ul > li:first-child .dropbox.alarm a {
    font-weight: 500;
}
#section > .wrapper .side_menu > ul > li .dropbox.active {
    height: auto;
    transform: scale(1);
    opacity: 1;
}
#section > .wrapper .side_menu ul li .dropbox.alarm {
    width: 360px;
}
#section > .wrapper .side_menu ul li .dropbox.login {
    width: 180px;
}
#section > .wrapper .side_menu > ul > li > span,
#section > .wrapper .side_menu > ul > li > a > span.profile {
    position: absolute;
    width: 16px;
    height: 16px;
    right: -4px;
    top: 2px;
    background-color: #e35454;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    color: #fff;
}
#section > .wrapper .side_menu > ul > li:first-child {
    font-size: 20px;
}
#section > .wrapper .side_menu > ul > li > a {
    display: block;
    line-height: 30px;
    padding: 0 5px;
}
#section > .wrapper .side_menu > ul > li:last-child > a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
#section > .wrapper .side_menu > ul > li:last-child > a span {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#section > .wrapper .side_menu .dropbox ul li a {
    display: block;
    font-size: 12px;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
}
#section > .wrapper .side_menu .dropbox.login > ul > li:first-child a {
    cursor: default;
}
#section > .wrapper .side_menu .dropbox.login ul li:first-child {
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
#section > .wrapper .side_menu .dropbox.alarm ul li:first-child {
    position: relative;
}
#section > .wrapper .side_menu .dropbox.alarm ul li:first-child {
    position: relative;
    padding-bottom: 8px;
    background-color: #fff;
}
#section > .wrapper .side_menu .dropbox.alarm ul li:last-child {
    border: none;
}
#section > .wrapper .side_menu .dropbox.alarm > ul > li.active {
    background-color: #f8f8f8;
}
#section > .wrapper .side_menu .dropbox.alarm > ul > li {
    position: relative;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
#section > .wrapper .side_menu .dropbox.alarm > ul > li::after {
    content: "안읽음";
    position: absolute;
    display: none;
    top: 0;
    right: 10px;
    font-size: 12px;
}
#section > .wrapper .side_menu .dropbox.alarm > ul > li.active::after {
    display: block;
}
#section > .wrapper .side_menu .dropbox.alarm > ul > li > span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 12px;
}
#section > .wrapper .side_menu > ul > li .dropbox.alarm {
    padding-bottom: 0;
}
#section > .wrapper .side_menu > ul > li .dropbox.alarm p {
    width: calc(100% - 35px);
    line-height: 1.7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#section > .wrapper .side_menu > ul > li .dropbox.alarm i {
    width: 30px;
    line-height: 40px;
    text-align: center;
    margin-right: 5px;
    color: #e35454;
    font-size: 16px;
}
#section > .wrapper .side_menu > ul > li .dropbox.alarm p,
#section > .wrapper .side_menu > ul > li .dropbox.alarm i {
    float: left;
}
#section > .wrapper .side_menu > ul > li .dropbox.alarm p:last-child {
    font-weight: 400;
}
#section > .wrapper .side_menu .dropbox > ul > li a span {
    position: static;
    color: #00539c;
    font-weight: 500;
    background-color: transparent;
    font-size: 14px;
    margin-right: 5px;
}
#section > .wrapper .side_menu .dropbox.alarm > ul > li {
    padding: 0 20px;
    font-size: 16px;
}
#section > .wrapper .side_menu .dropbox.alarm > ul > li a span {
    width: auto;
    height: auto;
    color: #ccc;
    font-weight: 400;
    font-size: 10px;
    margin-left: 10px;
}
#section > .wrapper .side_menu .dropbox.alarm > ul > li a {
    padding: 10px 0;
}
#section .section_inner > .content {
    float: left;
    margin: 0 0 40px 40px;
    width: calc((100% - 80px) / 3);
    height: 280px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}
#section .section_inner > .content:nth-child(3n + 1) {
    margin-left: 0;
}
#section .section_inner > .content .title {
    position: relative;
    padding: 20px;
}
#section .section_inner > .content .title .text {
    float: left;
}
#section .section_inner > .content .title .btn {
    float: right;
    margin-top: 4px;
}
#section .section_inner > .content .title .btn a {
    position: relative;
    display: block;
    width: 16px;
    line-height: 16px;
    text-indent: -9999px;
    overflow: hidden;
}
#section .section_inner > .content .title .btn a::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #333;
    border-radius: 10px;
}
#section .section_inner > .content .title .btn a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #333;
    border-radius: 5px;
}
#section .section_inner > .content .title::after {
    content: "";
    position: absolute;
    width: calc(100% - 20px);
    height: 2px;
    left: 20px;
    bottom: 0;
    background-color: #ccc;
}
#section .section_inner > .content .desc {
    margin: 20px;
}
#section .section_inner > .content .desc ul li {
    margin-bottom: 10px;
    font-size: 14px;
}
#section .section_inner > .content .desc ul li a {
    display: block;
    line-height: 1;
}
#section .section_inner > .content .desc ul li a .wrapper,
#section .section_inner > .content .desc ul li a > span,
#section .section_inner > .content .desc ul li a .wrapper > span {
    display: inline-block;
    vertical-align: middle;
}
#section .section_inner > .content .desc ul li a .wrapper > span i {
    font-size: 30px;
    margin: 0;
}
#section .section_inner > .content .desc ul li a .wrapper {
    width: calc(100% - 90px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 20px;
}
#section .section_inner > .content .desc ul li a .wrapper:hover {
    color: #00539c;
}
#section .section_inner > .content .desc ul li a i {
    margin-left: 5px;
}
#section .section_inner > .content .desc ul li a > span {
    margin-left: 10px;
    color: #ccc;
}
#section .section_inner > .content .desc ul li span.new,
#section .section_inner > .content .desc ul li span.notice {
    display: inline-block;
    padding: 4px 6px;
    background-color: #e35454;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
    font-size: 12px;
}
#section .section_inner > .content .desc ul li span.profile {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}
#section .section_inner > .content .desc ul li span.notice {
    background-color: #00539c;
}
#section .section_inner > .content.folder .desc ul {
    font-size: 0;
}
#section .section_inner > .content.folder .desc ul li {
    display: inline-block;
    width: calc(100% / 5);
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 0;
}
#section .section_inner > .content.folder .desc ul li:hover span {
    color: #00539c;
}
#section .section_inner > .content.folder .desc ul li i {
    font-size: 3vw;
    color: #f4d472;
}
#section .section_inner > .content.folder .desc ul li img {
    height: 3vw;
}
.fa-file-word {
    color: #00539c !important;
}
.fa-file-pdf,
.fa-file-powerpoint {
    color: #e35454 !important;
}
#section .section_inner > .content.folder .desc ul li span {
    display: block;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2;
}
/* #endregion section */

/* #region section_notice */
#section .section_inner .board_container > .title {
    padding: 20px;
    background-color: #F8F8F8;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#section .section_inner .board_container > .title > .text {
    float: left;
    line-height: 2;
}
#section .section_inner .board_container > .title > .text p {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
#section .section_inner .board_container > .title > .text p span {
    color: #00539c;
    font-weight: 500;
}
#section .section_inner .board_container > .title > .form {
    float: right;
}
#section .section_inner .board_container .edit {
    padding: 15px 10px;
    width: 100%;
    box-sizing: border-box;
}
#section .section_inner .board_container .edit a,
#section .section_inner .board_container .edit input {
    display: block;
    float: right;
    padding: 5px 15px;
    background-color: #00539c;
    color: #fff;
    margin-left: 5px;
}
#section .section_inner .board_container .edit input {
    margin-right: 0;
    font-size: 16px;
}
#section .section_inner .board_container table.detail + .edit a:nth-child(2),
#section .section_inner .board_container table.create + .edit a,
#section .section_inner .board_container table.account + .edit a {
    background-color: #333;
}
#section .section_inner .board_container table.detail + .edit a:first-child,
#section .section_inner .board_container table.create + .edit a:first-child {
    float: left;
    margin-left: 0;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}
#section .section_inner .board_container table.create + .edit a:nth-child(2) {
    background-color: #00539c;
}
/* #endregion section_notice */

/* #region form, input */
input,
select {
    padding: 5px 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-right: 5px;
}
input[type=button] {
    cursor: pointer;
}
.form input::placeholder {
    color: #ccc;
}
select {
    width: 120px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form {
    font-size: 0;
}
.select_wrapper {
    position: relative;
    display: inline-block;
}
.select_wrapper i {
    position: absolute;
    top: 8px;
    right: 13px;
    color: #00539c;
    font-size: 16px;
}
select::-ms-expand {
    display: none;
}
input,
textarea {
    -webkit-appearance:none;
    -webkit-border-radius: 0;
}
.form input[type=button] {
    border: none;
    min-width: 45px;
    background-color: #00539c;
    color: #fff;
    margin-right: 0;
}
.table_wrapper {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow:5px 5px 15px rgba(0,0,0,0.2);
}
.table {
    width: 100%;
    text-align: center;
    border-top: 1px solid #333;
    border-collapse: collapse;
    table-layout: fixed;
}
.table + .none p {
    display: block;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
table .mobile {
    display: none;
    font-weight: 400;
}
.table th,
.table td {
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
}
.table.list tbody tr:hover {
    background-color: rgba(0,83,156,0.1);
    cursor: pointer;
}
.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
textarea {
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 15px 10px
}
.table td .new {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 6px;
    background-color: #e35454;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
    font-size: 12px;
    box-sizing: border-box;
}
.table td a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table td .profile {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 6px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 10px;
    border-radius: 50%;
}
.table td i {
    margin-left: 5px;
}
.table td span i {
    margin-left: 0;
    font-size: 30px;
}
.table thead,
.table tbody tr th {
    background-color: #f8f8f8;
}
.table.account tbody tr td input.upload-name,
.table.account tbody tr td label {
    display: inline-block;
    vertical-align: middle;
}
.table.account tbody tr td input.upload-name {
    width: calc(100% - 70px);
    box-sizing: border-box;
}
.table.account tbody tr td label {
    background-color: #00539c;
    color: #fff;
    padding: 4px 10px;
    cursor: pointer;
    margin-left: 5px;
    width : 65px;
    box-sizing: border-box;
}
.table.account .select_wrapper,
.table.account .select_wrapper select {
    width: 100%;
    margin: 0;
}
.table .note-editor.note-frame {
    margin: 15px 10px;
}
.table .note-editor.note-frame .note-editing-area .note-editable,
.table .note-editor.note-airframe .note-editing-area .note-editable {
    min-height: 300px;
}
.table.detail td,
.table.detail th,
.table.create td,
.table.create th,
.table.account th,
.table.account td {
    text-align: left;
}
.table.create tbody td {
    white-space: unset;
}
.table.detail thead tr th,
.table.detail thead tr td {
    padding-left: 20px;
}
.table.detail thead tr th i,
.table.detail thead tr td span {
    margin-left: 5px;
}
.table.detail .desc {
    min-height: 150px;
}
.table.detail tbody td {
    font-size: 14px;
}
.table.detail tbody th,
.table.create tbody th {
    padding-bottom: 40px;
}
.table thead tr td {
    background-color: #fff;
}
.table.detail tbody td:nth-child(2) i {
    margin: 0 5px 0 0;
}
.table.detail tbody td:nth-child(2) a:hover {
    color: #00539c;
}
.table.detail thead tr td.red {
    color: #e35454;
}
.table.create thead tr input,
.table.account thead tr input,
.table.create tbody tr input,
.table.account tbody tr input {
    width: calc(100% - 20px);
    margin-right: 0;
}
.table.create tbody tr td input:read-only,
.table.create tbody tr td input:read-only + a{
    display: inline-block;
    vertical-align: middle;
}
.table.create tbody tr td input:read-only {
    width: calc(100% - 85px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.table.create tbody tr td input:read-only + a {
    width: 60px;
    line-height: 32px;
    margin-left: 5px;
    text-align: center;
    color: #fff;
    background-color: #e35454;
}
.table.admin tr td input {
    width: 100%;
    margin-right: 0;
    border: none;
    color: #fff;
    background-color: #e35454;
}
.table.admin tbody tr td:nth-child(2) {
    text-align: center;
}
.table th {
    font-weight: 500;
}
.table tbody {
    background-color: #fff;
}
.table tbody td:nth-child(2),
.table.dayreport tbody td:nth-child(3) {
    text-align: left;
}
.table.dayreport tbody td:nth-child(6) {
    color: #e35454;
}
.table.create tbody tr td > input,
.table.create tbody tr td .saved {
    margin-bottom: 5px;
}
.table.create tbody tr td input:last-child {
    margin-bottom: 0;
}
.table_wrapper #pagination {
    padding-bottom: 30px;
}
.table_wrapper #pagination ul {
    text-align: center;
    font-size: 0;
}
.table_wrapper #pagination ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.table_wrapper #pagination ul li:first-child {
    margin-left: 0;
}
.table_wrapper #pagination ul li a i {
    color: #ccc;
    font-size: 18px;
}
.table_wrapper #pagination ul li a {
    display: block;
    width: 38px;
    line-height: 36px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}
.table_wrapper #pagination ul li.active a {
    border: 1px solid #00539c;
    color: #00539c;
}
.table_wrapper #pagination ul li:hover a {
    background-color: rgba(0,83,156,0.1);
}
.table_wrapper #pagination ul li a.btn_first,
.table_wrapper #pagination ul li a.btn_prev,
.table_wrapper #pagination ul li a.btn_next,
.table_wrapper #pagination ul li a.btn_last {
    overflow: hidden;
    text-indent: -9999px;
    cursor: default;
}
.table_wrapper #pagination ul li.on a.btn_first,
.table_wrapper #pagination ul li.on a.btn_prev,
.table_wrapper #pagination ul li.on a.btn_next,
.table_wrapper #pagination ul li.on a.btn_last {
    overflow: hidden;
    text-indent: -9999px;
    cursor: pointer;
}
.table_wrapper #pagination ul li a.btn_first {
    background: url(../images/btn_pagination.png) no-repeat 0 -1px;
}
.table_wrapper #pagination ul li a.btn_prev {
    background: url(../images/btn_pagination.png) no-repeat -38px -1px;
}
.table_wrapper #pagination ul li a.btn_next {
    background: url(../images/btn_pagination.png) no-repeat -76px -1px;
}
.table_wrapper #pagination ul li a.btn_last {
    background: url(../images/btn_pagination.png) no-repeat  -114px -1px;
}
.table_wrapper #pagination ul li.on a.btn_first:hover {
    background: url(../images/btn_pagination.png) no-repeat 0 -39px;
}
.table_wrapper #pagination ul li.on a.btn_prev:hover {
    background: url(../images/btn_pagination.png) no-repeat -38px -39px;
}
.table_wrapper #pagination ul li.on a.btn_next:hover {
    background: url(../images/btn_pagination.png) no-repeat -76px -39px;
}
.table_wrapper #pagination ul li.on a.btn_last:hover {
    background: url(../images/btn_pagination.png) no-repeat -114px -39px;
}
.star {
    color: #e35454;
    margin-left: 3px;
}
/* #endregion form, input */

/* #region section_folder */
#section .section_inner .board_container > .title > .text ul li a {
    width: auto;
}
#section .section_inner .board_container > .title > .text ul {
    font-size: 0;
}
#section .section_inner .board_container > .title > .text ul li {
    display: inline-block;
    padding-right: 5px;
    font-size: 16px;
}
#section .section_inner .board_container > .title > .text ul li i {
    margin-right: 8px;
}
#section .section_inner .board_container > .title > .text ul li i, 
#section .section_inner .board_container > .title > .text ul li a {
    display: inline-block;
    vertical-align: middle;
}
#section .section_inner .title .text .dropdown_wrapper a {
    display: block;
    width: 80px;
}
#section .section_inner .title .text .dropdown_wrapper i {
    margin-left: 5px;
}
.container > .dropbox {
    position: absolute;
    opacity: 0;
    width: 235px;
    background-color: #fff;
    box-shadow:5px 5px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 15px 0;
    transform: scale(0);
    transform-origin: top left;
    transition: opacity 0.3s, transform 0.3s;
}
.container > .dropbox.active {
    opacity: 1;
    transform: scale(1);
}
.container > .dropbox ul li a {
    display: block;
    line-height: 2.5;
    padding: 0 15px;
    font-size: 14px;
}
.container > .dropbox ul li label {
    display: block;
    cursor: pointer;
}
.container > .dropbox ul li:hover a {
    background-color: rgba(0,83,156,0.2);
}
.container > .dropbox ul li a i {
    font-size: 18px;
    margin-right: 10px;
}
.container > .folderbox {
    position: absolute;
    display: none;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    z-index: 1000;
}
.container > .dim {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}
.container > .folderbox > div {
    margin-top: 20px;
}
.container > .folderbox > div:first-child {
    margin-top: 0;
}
.container > .folderbox > .middle input {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
.container > .folderbox > .bottom a {
    display: block;
    float: right;
    line-height: 30px;
    padding: 0 15px;
    background-color: #00539c;
    color: #fff;
    margin-left: 5px;
}
.container > .folderbox > a {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
}
.container > .folderbox > .bottom a:nth-child(2) {
    background-color: #333;
}
.board_container > .folder_container {
    min-height: calc(100vh - 300px);
}
.board_container > .folder_container .title {
    display: inline-block;
    margin-top: 10px;
    line-height: 70px;
}
.board_container > .folder_container .folder,
.board_container > .folder_container .file {
    float: left;
    margin: 0 0 40px 40px;
    width: calc((100% - 160px) / 5);
    border-radius: 5px;
    line-height: 2;
}
.board_container > .folder_container .folder_wrapper .folder span,
.board_container > .folder_container .file_wrapper .file span {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.board_container > .folder_container .folder_wrapper .folder a,
.board_container > .folder_container .file_wrapper .file a {
    display: block;
    background-color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
}
.board_container > .folder_container .folder_wrapper .folder:nth-child(5n + 1),
.board_container > .folder_container .file_wrapper .file:nth-child(5n + 1) {
    margin-left: 0;
}
.board_container > .folder_container .folder_wrapper .folder i,
.board_container > .folder_container .folder_wrapper .folder span,
.board_container > .folder_container .file_wrapper .file i,
.board_container > .folder_container .file_wrapper .file span {
    display: inline-block;
    vertical-align: middle;
}
.board_container > .folder_container .folder_wrapper .folder i,
.board_container > .folder_container .file_wrapper .file i {
    font-size: 30px;
    color: #f4d472;
    margin-right: 10px;
}
.board_container > .folder_container .file_wrapper .folder img,
.board_container > .folder_container .file_wrapper .file img {
    height: 30px;
    margin-right: 10px;
}
i.fa-file-excel {
    color: #89d682 !important;
}
i.fa-file-pdf,
i.fa-file-ppt {
    color: #e35454 !important;
}
i.fa-file-excel {
    color: #89d682 !important;
}
i.fa-file-word {
    color: #00539c !important;
}
i.fa-file-archive,
i.fa-file,
i.fa-file-video {
    color: #333 !important;
}
/* #endregion section_folder */

/* #region plugin */
.swal2-header .swal2-icon.swal2-warning .swal2-icon-content {
    color: #e35454;
    font-size: 3em;
}
.swal2-header .swal2-icon.swal2-warning {
    border-color: #e35454;
    width: 60px;
    height: 60px;
}
.file .fa-file-word {
    color: #00539c !important;
}
.file .fa-file-pdf,
.file .fa-file-powerpoint {
    color: #e35454 !important;
}
.file .fa-file-code,
.file .fa-file-video,
.file .fa-file-audio,
.file .fa-file-alt {
    color: #333 !important;
}
.file .fa-file-image {
    color: #69b3f4 !important;
}
.file .fa-file-excel {
    color: #89d682 !important;
}
/* #endregion plugin */

/* #region clearfix */
.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
}
.clearfix::after {
    clear: both;
}
/* #endregion clearfix */

/* #region media */
@media only screen and (max-width: 1320px) {
    #section .section_inner > .content {
        width: calc((100% - 40px) / 2);
    }
    #section .section_inner > .content:nth-child(3n + 1) {
        margin-left: 40px;
    }
    #section .section_inner > .content:nth-child(2n + 1) {
        margin-left: 0;
    }
    .board_container > .folder_container .folder,
    .board_container > .folder_container .file {
         width: calc((100% - 120px) / 4);
    }
    .board_container > .folder_container .folder_wrapper .folder:nth-child(5n + 1),
    .board_container > .folder_container .file_wrapper .file:nth-child(5n + 1) {
        margin-left: 40px;
    }
    .board_container > .folder_container .folder_wrapper .folder:nth-child(4n + 1),
    .board_container > .folder_container .file_wrapper .file:nth-child(4n + 1) {
        margin-left: 0;
    }
    #section .section_inner > .content.folder .desc ul li {
        width: calc(100% / 4);
    }
    #section .section_inner > .content.folder .desc ul li:nth-child(9),
    #section .section_inner > .content.folder .desc ul li:nth-child(10) {
        display: none;
    }
    #section .section_inner > .content.folder .desc ul li i {
        font-size: 5vw;
    }
    #section .section_inner > .content.folder .desc ul li img {
        height: 5vw;
    }
    .table.admin thead tr th:nth-child(5),
    .table.admin tbody tr td:nth-child(5) {
        display: none;
    }
}
@media only screen and (max-width: 1000px) {
    #section .section_inner > .content {
        width: calc((100% - 20px) / 2);
        margin: 0 0 20px 20px;
    }
    #section .section_inner > .content:nth-child(3n + 1) {
        margin-left: 20px;
    }
    #section .section_inner > .content:nth-child(2n + 1) {
        margin-left: 0;
    }
    #header {
        width: 60px;
    }
    #header h1 a img {
        content: url(../images/m_logo.png);
        width: 20px;
    }
    #desktop {
        display: none;
    }
    #mobile {
        display: block;
    }
    #section {
        width: calc(100% - 60px);
    }
    .board_container > .folder_container .folder,
    .board_container > .folder_container .file {
         width: calc((100% - 40px) / 3); 
         margin:  0 0 20px 20px;
    }
    .board_container > .folder_container .folder_wrapper .folder:nth-child(5n + 1),
    .board_container > .folder_container .file_wrapper .file:nth-child(5n + 1) {
        margin-left: 20px;
    }
    .board_container > .folder_container .folder_wrapper .folder:nth-child(4n + 1),
    .board_container > .folder_container .file_wrapper .file:nth-child(4n + 1) {
        margin-left: 20px;
    }
    .board_container > .folder_container .folder_wrapper .folder:nth-child(3n + 1),
    .board_container > .folder_container .file_wrapper .file:nth-child(3n + 1) {
        margin-left: 0;
    }
    #section .section_inner > .content.folder .desc ul li:nth-child(9),
    #section .section_inner > .content.folder .desc ul li:nth-child(10) {
        display: none;
    }
    #section .section_inner > .content.folder .desc ul li i {
        font-size: 6vw;
    }
    #section .section_inner > .content.folder .desc ul li img {
        height: 6vw;
    }
    .table.admin thead tr th:nth-child(7),
    .table.admin tbody tr td:nth-child(7) {
        display: none;
    }
}
@media only screen and (max-width: 780px) {
    #section .section_inner .board_container > .title > .text {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    #section .section_inner .board_container > .title > .form {
        float: left;
        width: 100%;
    }
    select {
        width: 100%;
    }
    .select_wrapper {
        width: calc((100% - 55px) / 3);
        margin: 0 5px 5px 0;
    }
    input[type=search] {
        width: calc((100% - 55px) / 3 * 2);
    }
    .folder_search input[type=search] {
        width: calc((100% - 55px));
    }
    #sub_nav {
        text-align: center;
    }
}
@media only screen and (max-width: 700px) {
    .table.dayreport.list thead tr th:nth-child(1),
    .table.dayreport.list thead tr th:nth-child(3),
    .table.dayreport.list thead tr th:nth-child(5),
    .table.dayreport.list thead tr th:nth-child(6),
    .table.dayreport.list thead tr th:nth-child(7),
    .table.dayreport.list tbody tr td:nth-child(1),
    .table.dayreport.list tbody tr td:nth-child(3),
    .table.dayreport.list tbody tr td:nth-child(5),
    .table.dayreport.list tbody tr td:nth-child(6),
    .table.dayreport.list tbody tr td:nth-child(7) {
        display: none;
    }
    .table.notice.list thead tr th:nth-child(1),
    .table.notice.list thead tr th:nth-child(4),
    .table.notice.list thead tr th:nth-child(5),
    .table.notice.list tbody tr td:nth-child(1),
    .table.notice.list tbody tr td:nth-child(4),
    .table.notice.list tbody tr td:nth-child(5) {
        display: none;
    }
    #section .section_inner > .content {
        width: 100%;
        margin-left: 0;
    }
    #section .section_inner > .content:nth-child(3n + 1) {
        margin-left: 0;
    }
    #section .section_inner > .content.folder .desc ul li i {
        font-size: 9vw;
    }
    #section .section_inner > .content.folder .desc ul li img {
        height: 9vw;
    }
    .board_container > .folder_container .folder,
    .board_container > .folder_container .file {
         width: 100%; 
         margin-left: 0;
    }
    .board_container > .folder_container .folder_wrapper .folder:nth-child(5n + 1),
    .board_container > .folder_container .file_wrapper .file:nth-child(5n + 1) {
        margin-left: 0;
    }
    .board_container > .folder_container .folder_wrapper .folder:nth-child(4n + 1),
    .board_container > .folder_container .file_wrapper .file:nth-child(4n + 1) {
        margin-left: 0;
    }
    .table.admin thead tr th:nth-child(6),
    .table.admin tbody tr td:nth-child(6) {
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    #section > .wrapper .side_menu ul li .dropbox.alarm,
    #section > .wrapper .side_menu ul li .dropbox.login {
        width: calc(100vw - 114px);
    }
    #section > .wrapper .side_menu ul li .dropbox.alarm {
        right: -50px;
    }
    .select_wrapper {
        width: 100%;
        margin: 0 0 5px 0;
    }
    table .desktop {
        display: none;
    }
    table .mobile {
        display: table-header-group;
    }
    input[type=search] {
        width: calc(100% - 50px);
    }
    .container > .content,
    .container > .folderbox {
        width: calc(100% - 40px);
    }
    .container > .content .login {
        width: 100%;
    }
    #section .section_inner > .content.folder .desc ul li i {
        font-size: 11vw;
    }
    #section .section_inner > .content.folder .desc ul li img {
        height: 11vw;
    }
    .table.admin thead tr th:nth-child(8),
    .table.admin tbody tr td:nth-child(8) {
        display: none;
    }
}
/* #endregion media */